<!-- <link rel="stylesheet" href="../styles/saver-styles.css"> -->
<div class="klickr-saver-wrap">
  <p>Klickr.io</p>
  <button type="button" id="close" style="font-size:20px; color=grey; float: right; margin-right: 5px; border: 0.5px solid;">X</button>
  <input type="text" id="desc" placeholder="Name your Klick">
  <button type="button" class="klickr-btn" id="klickr-save-replay">Replay</button>
  <button type="button" class="klickr-btn" id="' + menu[i].toLowerCase() + '">Save</button>
  <button type="button" class="klickr-btn" id="' + menu[i].toLowerCase() + '">Share</button>

</div>