<!doctype html>
<html>
  <head>
    <title>Klickr</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="KlickrChromeApp" class="popup-body">

    <div class="wrap" ng-controller="PopupCtrl">

      <div class="header">
        <li ng-click="toHome()" class="home"></li>
        <li><a ng-click="startRecording()" href="#"><i class="fa fa-circle"></i></a></li>
        <li><a ng-click="stopRecording()" href="#"><i class="fa fa-stop"></i></a></li>
        <li><a ng-click="playRecording()" href="#"><i class="fa fa-play"></i></a></li>
      </div>

      <div ng-show="showSaver" class="content">
        <div class="form-group">
          <input ng-model="desc" type="text" class="form-control" placeholder="Name your Klick">
        </div>
        <div class="form-group">
          <button ng-click="playerPause()" type="button" class="btn btn-default">Replay</button>
          <button ng-click="saveKlick()" type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default">Share</button>
        </div>
      </div>
    </div>

  </body>
</html>