<!doctype html>
<html>
  <head>
    <title>Klickr</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/popup-styles.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="KlickrChromeApp" class="popup-body">

    <div class="wrap" ng-controller="PopupCtrl">

      <div class="header">
        <li ng-click="toHome()" class="home"></li>
        <li><a ng-click="startRecording()" ng-hide="isRecording()" href="#"><i class="fa fa-circle"></i></a></li>
        <li><a ng-click="stopRecording()" ng-show="isRecording()" href="#"><i class="fa fa-stop"></i></a></li>
        <li><a ng-click="playRecording()" ng-show="canPlay()" href="#"><i class="fa fa-play"></i></a></li>
        <div class="clearfix"></div>
      </div>

      <div ng-show="showSaver" class="content">
        <div class="form-group">
          <div class="saver-message">{{ errorMsg }}</div>
          <input ng-model="desc" type="text" class="form-control" placeholder="Name your Klick...">
        </div>
        <div class="form-group">
          <button ng-click="replay()" type="button" class="btn btn-default">Replay</button>
          <button ng-click="pause()" type="button" class="btn btn-default">Pause</button>
          <button ng-click="saveKlick()" type="button" class="btn btn-primary">Save</button>
          <button ng-click="" type="button" class="btn btn-default">Share</button>
        </div>
      </div>

      <div ng-show="showMessage" class="content">
        <p><i class="fa fa-thumbs-up"></i>{{ message }}</p>
      </div>

    </div>
  </body>
</html>