.nav {
	margin-bottom: 0px;
}

.saveBox {
  position: fixed;
  background: rgb(216, 226, 218);
  border-radius: 7.5px;
}

#description {
  width : 200px;
}

.saveBox {
  font-size:32px;
  font-weight:bold;
}

.form-control{
  padding-left: 20px;
}