/* ---------------------------------------------------------------------------- */
/* General
/* ---------------------------------------------------------------------------- */

a:focus {
  outline: none;
  background-color: none;
}

/* ---------------------------------------------------------------------------- */
/* Popup
/* ---------------------------------------------------------------------------- */

.popup-body {
  min-width: 400px;
}

.header {
  padding: 5px;
}

.wrap {
  padding: 5px;
}

.home {
  background: url('../img/icon.png') no-repeat;
  height: 32px;
  width: 32px;
}

/* ---------------------------------------------------------------------------- */
/* Save Box
/* ---------------------------------------------------------------------------- */

.klickr-saver {

}

.klickr-btn {
  float: left;
  background: #FFFFFF;
  color: #5E5E5E;
  border-radius: 0.5em;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.klickr-btn:hover{
  background: #323232;
  color:#FFF;
}

/*.btn{
  width: 100px;
  height: 50px;
  font-size:20px;
  font-weight: normal;
  border: 2px solid;
  border-radius: 15px;
  background: white;
}*/

